@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>*@
<h2>@ViewBag.Message</h2>


    I built this site using ASP.NET MVC, which gave me a powerful, patterns-based way to build dynamic websites that
    enables a clean separation of concerns and gives me full control over markup
    for enjoyable, agile development.
</p>

<h2>Technologies I used</h2>
<p>This site uses a combination of HTML5, Bootstrap, jQuery, C#, and various other related technologies  </p>

<h2>Coder Foundry</h2>
<p>These skills were honed at Coder Foundry, where I received powerful mentoring and technical guidance while building ASP.NET MVC applications</p>

