@{
    ViewBag.Title = "Contact";
}@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    I am located in <br />
    The Greater New York City Metropolitan area.<br />
    @*<abbr title="Phone">P:</abbr>
        425.555.0100*@
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Hanif.warren@gmail.com">Click here to email me</a><br />
    <strong>For my personal site and resume,</strong> <a href="http://hanifhwfirstpersonalsite.azurewebsites.net/" target="_blank">click here. </a>
</address>
