@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Hanif's Blog</h1>
    <p class="lead">I built this site using ASP.NET MVC. <br /> ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript. MVC is a powerful, yet flexible, design pattern which allows effective separation of concerns and agile development.</p>
    <p><a href="http://ASP.NET" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started on my site</h2>
        <p>
            I built this site using ASP.NET MVC, which gave me a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives me full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://www.ASP.NET/mvc">Learn More about MVC &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Technologies I used</h2>
        <p>This site uses a combination of HTML5, Bootstrap, jQuery, C#, and various other related technologies  </p>
        <p><a class="btn btn-default" href="https://hanifwarren.com">Learn more about the technology I use &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Coder Foundry</h2>
        <p>These skills were honed at Coder Foundry, where I received powerful mentoring and technical guidance while building ASP.NET MVC applications</p>
        <p><a class="btn btn-default" href="http://www.coderfoundry.com">Click here for Coder Foundry &raquo;</a></p>
    </div>
</div>